.wrapper {
  padding: 10px;
}

.wrapper table {
  width: 100%;
}

.separator {
  border-top: solid 4px var(--color-text-off);
  padding: 0px 2px 0 2px;
}

.smallSeparator {
  border-top: solid 2px var(--color-text-off);
  margin-top: 17px;
  padding: 0px 2px 0 2px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin: 17px 0 5px 0;
}

.heading h2 {
  margin: 0;
}

.addTeamButton {
  padding-top: 17px;
}

.setTable {
  padding-top: 17px;
  white-space: nowrap;
}

.setTable.setTable tr td:first-of-type {
  /* width: fit-content; */
  white-space: nowrap;
  padding-right: 5px;
  width: 100%;
}

.setTable input {
  border: none;
  width: 48px;
  text-align: right;
  background-color: var(--color-bg-primary);
}

.setTable input:focus {
  outline: none;
}

.addSetButton {
  padding-top: 17px;
}

.description {
  margin-top: 17px;
}

/* media query for non touch display */
@media (hover: hover) {
  .setTable input {
    width: 75px;
  }
}

.controlButtonWrapper {
  background-color: var(--color-bg-primary);
  width: fit-content;
  margin: 20px auto 0 auto;
  border-radius: 5px; 
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}