.wrapper {
  background-color: var(--color-bg-selected);
  border-radius: 5px;
  padding: 0px;
}

.elementWrapper {
  background-color: var(--color-bg-selected);
  border-radius: 5px;
  padding: 10px;
}

.editWrapper {
  background-color: var(--color-bg-off);
  margin: 10px;
}

.elementWrapper table tr td:first-of-type {
  width: 100%;
}

.elementWrapper td:not(:first-of-type) {
  text-align: center;
}

.info {
  border-top: solid 2px var(--color-text-off);
  margin-top: 5px;
  padding: 5px 2px 0 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info p {
  margin: 0;
}

.info .buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.isUser {
  background-color: var(--color-bg-hover);
  padding: 2px 5px;
  border-radius: 2px;
}