.gitHubItem {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--color-border-primary);
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gitHubItem:hover {
  transition: 0.5s;
  border-color: var(--color-border-hover);
}

.gitHubHeader {
  display: grid;
  grid-template-columns: 40px calc(100% - 110px) 70px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: var(--color-border-primary);
  align-items: center;
}

.logo {
  height: 40px;
}

.gitHubHeaderText {
  padding: 0 10px;
  width: 100%;
  height: 40px;
}

.gitHubHeaderText p {
  font-weight: bold;
  margin: 1px 0;
  font-size: 13.5px;
}

.repositoryHeaderName, .repositoryHeaderInfo {
  white-space: nowrap;
  overflow: hidden;
}

.gitHubContent p {
  margin: 5px 0;
}

.gitHubElement .elementHead {
  font-weight: bold;
  font-size: medium;
}

.gitHubElement ul {
  margin: 2px 0;
}

.gitHubElement ul li {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.scrollText {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  0% { -moz-transform: translateX(0%); }
  30% { -moz-transform: translateX(0%); }
  70% { -moz-transform: translateX(-180%); }
  100% { -moz-transform: translateX(-180%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  0% { -webkit-transform: translateX(0%); }
  30% { -webkit-transform: translateX(0%); }
  70% { -webkit-transform: translateX(-180%); }
  100% { -webkit-transform: translateX(-180%); }
}

@keyframes my-animation {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  30% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  70% {
    -moz-transform: translateX(-180%);
    -webkit-transform: translateX(-180%);
    transform: translateX(-180%);
  }
  100% {
    -moz-transform: translateX(-180%);
    -webkit-transform: translateX(-180%);
    transform: translateX(-180%);
  }
}

@media only screen and (min-width: 400px) {
  /* for Firefox */
  @-moz-keyframes my-animation {
    0% { -moz-transform: translateX(0%); }
    30% { -moz-transform: translateX(0%); }
    70% { -moz-transform: translateX(-110%); }
    100% { -moz-transform: translateX(-110%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    0% { -webkit-transform: translateX(0%); }
    30% { -webkit-transform: translateX(0%); }
    70% { -webkit-transform: translateX(-110%); }
    100% { -webkit-transform: translateX(-110%); }
  }

  @keyframes my-animation {
    0% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    30% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    70% {
      -moz-transform: translateX(-110%);
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%);
    }
    100% {
      -moz-transform: translateX(-110%);
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%);
    }
  }
}

@media only screen and (min-width: 500px) {
  /* for Firefox */
  @-moz-keyframes my-animation {
    0% { -moz-transform: translateX(0%); }
    30% { -moz-transform: translateX(0%); }
    70% { -moz-transform: translateX(-60%); }
    100% { -moz-transform: translateX(-60%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    0% { -webkit-transform: translateX(0%); }
    30% { -webkit-transform: translateX(0%); }
    70% { -webkit-transform: translateX(-60%); }
    100% { -webkit-transform: translateX(-60%); }
  }

  @keyframes my-animation {
    0% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    30% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    70% {
      -moz-transform: translateX(-60%);
      -webkit-transform: translateX(-60%);
      transform: translateX(-60%);
    }
    100% {
      -moz-transform: translateX(-60%);
      -webkit-transform: translateX(-60%);
      transform: translateX(-60%);
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* for Firefox */
  @-moz-keyframes my-animation {
    0% { -moz-transform: translateX(0%); }
    30% { -moz-transform: translateX(0%); }
    70% { -moz-transform: translateX(-110%); }
    100% { -moz-transform: translateX(-110%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    0% { -webkit-transform: translateX(0%); }
    30% { -webkit-transform: translateX(0%); }
    70% { -webkit-transform: translateX(-110%); }
    100% { -webkit-transform: translateX(-110%); }
  }

  @keyframes my-animation {
    0% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    30% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    70% {
      -moz-transform: translateX(-110%);
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%);
    }
    100% {
      -moz-transform: translateX(-110%);
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%);
    }
  }
}

@media only screen and (min-width: 1400px) {
  /* for Firefox */
  @-moz-keyframes my-animation {
    0% { -moz-transform: translateX(0%); }
    30% { -moz-transform: translateX(0%); }
    70% { -moz-transform: translateX(-60%); }
    100% { -moz-transform: translateX(-60%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    0% { -webkit-transform: translateX(0%); }
    30% { -webkit-transform: translateX(0%); }
    70% { -webkit-transform: translateX(-60%); }
    100% { -webkit-transform: translateX(-60%); }
  }

  @keyframes my-animation {
    0% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    30% {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    70% {
      -moz-transform: translateX(-60%);
      -webkit-transform: translateX(-60%);
      transform: translateX(-60%);
    }
    100% {
      -moz-transform: translateX(-60%);
      -webkit-transform: translateX(-60%);
      transform: translateX(-60%);
    }
  }
}