.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid div {
  display: flex;
  flex-direction: column;
}

.grid div a {
  margin-top: 5px;
  display: inline-flex;
}

.copyright {
  margin: 20px 0;
  text-align: center;

  color: #666666;
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
