.navBar {
  background-color: #151515;
  display: grid;
  grid-template-columns: 40pt auto 40pt;
  column-gap: 5vw;
  height: 40pt;
  border-bottom: solid;
  border-color: #00D0FF;
}

.menuIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  margin: 0 10pt;
}

.menuIcon span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 4;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.logoName {
  position: relative;
  height: 30pt;
  align-self: center;
  cursor: pointer;
}

.menu {
  position: absolute;
  width: 90vw;
  height: 100vh;
  box-shadow: 0 0 5px #4e5052;
  margin: 0 0 0 0;
  padding: 0px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #151515;
  -webkit-font-smoothing: antialiased;
  left: -91vw;
  transform: translate(0, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 3;

  display: grid;
  grid-template-rows: 70pt min-content min-content min-content min-content auto 40pt;
  overflow: auto;
}

.showHeader {
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.nav {
  height: 40pt;
  display: flex;
  white-space: nowrap;
  padding: 0 60px;
  font-size: 1.5em;
  align-items: center;
  color: white;
}

.nav:hover {
  cursor: pointer;
  background-color: #333333;
  color: #00D0FF;
}

.nav:hover span {
  transform: translateX(5px);
  transition: 0.5s;
}

.nav:not(:hover) span {
  transition: 0.5s;
}

.navLogo {
  position: relative;
  height: 30pt;
  align-self: center;
  display: none;
  cursor: pointer;
}

.navLogoName {
  position: relative;
  height: 50pt;
  width: 100%;
  cursor: pointer;
}

.pcSpacing {
  display: none;
}

.button button {
  color: white;
}

.button:hover {
  cursor: default;
  background-color: #151515;
  transform: translateX(0);
  transition: 0;
}

.span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, -1px);
}

.spanTwo {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.spanThree {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu {
    width: 60vw;
    left: -61vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navBar {
    grid-template-columns: 100vw;
    column-gap: 0;
  }

  .menuIcon {
    display: none;
  }

  .logoName {
    display: none;
  }

  .menu {
    left: 0;
    width: 100vw;
    height: 40pt;
    padding: 0;
    transform: none;
    transition: none;

    grid-template-rows: initial;
    grid-template-columns: min-content min-content min-content min-content auto min-content min-content;
    row-gap: 0;
    column-gap: 0;
    overflow: hidden;
  }

  .navLogoName {
    height: 30pt;
    width: 90pt;
    margin: 0 20px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  .nav {
    padding: 0 20px;
  }

  .nav:hover span {
    transform: translateX(0);
    transform: translateY(2px);
  }

  .pcSpacing {
    display: initial;
  }

  .mobileSpacing {
    display: none;
  }

  .button:hover {
    padding: 0 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}