.navBar {
  /* background-color: inherit; */
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 40pt auto 40pt;
  column-gap: 5vw;
  height: 40pt;
  border-bottom: solid;
  border-color: var(--color-bg-secondary);
}

.navBar * {
  -webkit-tap-highlight-color: transparent;
}

.closeNavField {
  display: inherit;
  position: absolute;
  z-index: 2;
  background-color: rgb(80, 80, 80);
  opacity: 50%;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  animation: fadeInOpacity ease-in-out 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 50%;
  }
}

.menuIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  margin: 0 10pt;
}

.menuIcon span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: var(--color-text-primary);
  border-radius: 3px;
  z-index: 4;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.logo {
  position: relative;
  height: 30pt;
  align-self: center;
  cursor: pointer;
}

.logoName {
  position: relative;
  height: 30pt;
  align-self: center;
  display: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0 0 5px #4e5052;
  margin: 0 0 0 0;
  padding: 0px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: var(--color-bg-primary);
  -webkit-font-smoothing: antialiased;
  left: -91vw;
  transform: translate(0, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 3;

  display: grid;
  grid-template-rows: 80pt min-content min-content min-content min-content min-content min-content auto 40pt;
  /* overflow: auto; */
}

.navLogo {
  position: relative;
  height: 60pt;
  align-self: center;
  cursor: pointer;
}

.navLogoName {
  position: relative;
  height: 50pt;
  width: 100%;
  align-self: center;
  display: none;
  cursor: pointer;
}

.relative {
  position: relative;
  height: 100%;
  width: inherit;
}

.showHeader {
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.nav {
  height: 40pt;
  width: inherit;
  display: flex;
  white-space: nowrap;
  padding: 0 60px;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
}

.navContent {
  overflow: hidden;
}

.navContentIcon {
  height: fit-content;
  width: fit-content;
}

.mobileMenuExtender {
  height: 53.33px;
  width: 53.33px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  transition: 0.3s;
}

.rotate90 {
  transform: rotate(90deg);
}

.navSubContentItem {
  display: none;
  background-color: var(--color-bg-primary);
}

.activeMobile .navSubContentItem {
  display: block;
  animation: slideOptions 0.3s;
  padding-left: 5px;
}

@keyframes slideOptions {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 5px;
  }
}

.pcSpacing {
  display: none;
}

.span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, -1px);
}

.spanTwo {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.spanThree {
  transform: rotate(-45deg) translate(0, -1px);
}

@media only screen and (any-hover) {
  .nav:hover {
    cursor: pointer;
    /* background-color: #333333; */
    color: var(--color-text-secondary);
  }

  .nav:hover .navContent {
    transform: translateX(5px);
    transition: 0.5s;
  }
  
  .nav:not(:hover) .navContent {
    transition: 0.5s;
  }

  .languageSwitcher:hover {
    /* background-color: initial; */
    cursor: initial;
  }
  
  .languageSwitcher:hover span {
    transform: initial;
  }
}

/* Switch the top logo because enough space provided */
@media only screen and (min-width: 350px) {
  .logo {
    display: none;
  }

  .logoName {
    display: initial;
  }
}

/* Switch the sidebar logo because enough space provided */
@media only screen and (min-width: 400px) {
  .navLogo {
    display: none;
  }

  .navLogoName {
    display: initial;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu {
    width: 60vw;
    left: -61vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (any-hover) {
  .navBar {
    grid-template-columns: 100vw;
    column-gap: 0;
  }

  .closeNavField {
    display: none;
  }

  .menuIcon {
    display: none;
  }

  .logoName {
    display: none;
  }

  .menu {
    left: 0;
    width: 100vw;
    height: 40pt;
    overflow: initial;
    padding: 0;
    transform: none;
    transition: none;

    grid-template-rows: initial;
    grid-template-columns: min-content min-content min-content min-content auto min-content min-content min-content min-content;
    row-gap: 0;
    column-gap: 0;
  }
  
  .navLogoName {
    height: 30pt;
    width: 90pt;
    margin: 0 20px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
  
  .relative {
    padding: 0 ;
    align-self: center;
    width: initial;
  }
  
  .navSubContent {
    position: absolute;
    height: fit-content;
    top: 53.33px;
    background-color: var(--color-bg-primary);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.3);
  }

  .navSubContentItem {
    height: 53.33px;
  }

  .navSubContentItem:hover {
    background-color: var(--color-bg-hover);
    transition: 0.5s;
  }

  .activeMobile .navSubContentItem {
    display: none;
  }

  .active .navSubContentItem {
    display: block;
    animation: slideOptions 0.2s;
  }

  @keyframes slideOptions {
    from {
      transform: translateY(-6px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .nav {
    height: 100%;
    width: initial;
    padding: 0 10px;
    align-self: center;
    justify-content: initial;
  }
  
  .navSubContentItem .nav {
    padding: 0 calc((53.33px - 25px) / 2);
  }

  .nav:hover .navContent {
    transform: translateX(0);
    transform: translateY(2px);
  }

  .navContentIcon {
    display: none;
  }

  .pcSpacing {
    display: initial;
  }

  .mobileSpacing {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}