.table {
    width: 100%;
    height: 40pt;
    background-color: #151515;
    border-collapse: collapse;
    box-shadow: 0 0 5px #2A2A2A;
    border-width: 0 0 1pt 0;
    border-color: #2A2A2A;
    border-style: solid;
    font-size: 20pt;
    font-weight: bold;
}

.table td {
    padding: 5pt 10pt;
    /* border-style: solid; */
}

.nav:hover {
    background-color: #2A2A2A;
    cursor: pointer;
    color: #00D0FF;
    transition: 0.3s;
}

.table td button {
    font-size: 14pt;
    font-weight: bold;
    background-color: #151515;
    border-style: solid;
    border-radius: 2pt;
    border-width: 2pt;
    border-color: #2A2A2A;
    color: white;
    padding: 4pt 8pt;
}

.table td button:hover {
    background-color: #2A2A2A;
    cursor: pointer;
    color: #00D0FF;
    transition: 0.3s;
}

.td_left {
    text-align: left;
}

.td_space {
    width: 100%;
}

.td_right {
    text-align: right;
}