.drawerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  min-height: 32px;
  margin: 16px 0;
}

.drawerHeaderIconWrapper {
  display: flex;
  justify-content: center;

  height: 32px;
  width: 32px;

  font-size: 32px;
}
