.contentOne {
  padding: 20px;
  min-height: calc(100vh - 40pt);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentOne .heading {
  padding: 20px;
}

.contentOne h1 {
  text-decoration: solid;
  font-size: 40pt;
  font-family: 'Red Hat Mono', monospace;
  font-weight: 400;
  padding-right: 5pt;
  margin: 0;
}

.aboutMePictures {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 420px;
  height: 40vh;
  min-height: 320px;
  max-height: 340px;
  margin-bottom: 14vh;
}

.aboutMePictures :is(.imageOne, .imageTwo, .imageThree) {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 4px solid var(--color-border-off);
  border-radius: 5px;
}

.aboutMePictures .imageOne {
  left: 0;
  top: 0;
  z-index: 1;
}

.aboutMePictures .imageTwo {
  width: 180px;
  height: 180px;
  right: 0;
  top: 10%;
  z-index: 2;
  transition-delay: 200ms;
}

.aboutMePictures .imageThree {
  width: 200px;
  height: 200px;
  left: 20%;
  bottom: 0;
  z-index: 3;
  transition-delay: 400ms;
}

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:var(--color-text-primary);
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
  height: 40pt;
  width: 1ch;
}
  
@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.chevDown {
  position: absolute;
  bottom: 8vh;
  left: 0;
  right: 0;
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-hover);
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}

.KWYG {
  min-height: calc(100vh - 40pt);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--color-bg-second);
}

.infoWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  gap: 20px;
}

.infoWrapper .text {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 20px;
}

.phoneWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  height: 60vh;
  max-height: 60vh;
  width: 28vh;
}

.ios {
  padding: 0;
  margin: 0;
  background-color: #333333;
  width: 396px;
  height: 850px;
  border: 3px solid #333333;
  border-radius: 64px;
  transform-origin: 0 0;
  position:relative;
}

.ios .border {
  background-color: black;
  width: calc(100%);
  height: calc(100%);
  border: 16px solid black;
  border-radius: 60px;
  overflow: hidden;
  color: green;
}

.ios .border .notch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 20px 20px;
  height: 40px;
  width: 160px;
  background-color: black;
}

.ios .border .swipeBar {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 160px;
  border-radius: 5px;
  background-color: grey;
}

.ios .border .website {
  width: calc(100%);
  height: calc(100%);
  background-color: #222222;
}

.references {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.references div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.developers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.developerShields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.developerShields :nth-child(1) {
  transition-delay: 100ms;
}

.developerShields :nth-child(2) {
  transition-delay: 200ms;
}

.developerShields :nth-child(3) {
  transition-delay: 300ms;
}

.developerShields :nth-child(4) {
  transition-delay: 400ms;
}

.developerShields :nth-child(5) {
  transition-delay: 500ms;
}

.developerShields :nth-child(6) {
  transition-delay: 600ms;
}

.developerShields :nth-child(7) {
  transition-delay: 700ms;
}

.developerShields :nth-child(8) {
  transition-delay: 800ms;
}

.FlightSimulator {
  min-height: calc(100vh - 40pt);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.FlightSimulator .imageWrapper {
  position: relative;
  width: calc(100vw - 40px);
  height: calc((100vw - 40px) / 16 * 9);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-30%);
  transition: all 1s;
}

.hiddenDown {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(40%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Small devices (portrait tablets and landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .infoWrapper .text {
    padding: 0 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .infoWrapper .text {
    padding: 0;
  }

  .KWYG .infoWrapper {
    flex-direction: row;
    gap: 0;
  }

  .KWYG .infoWrapper .text {
    transition-delay: 300ms;
  }

  .FlightSimulator .infoWrapper {
    flex-direction: row-reverse;
    gap: 0;
  }
  
  .FlightSimulator .imageWrapper {
    max-height: calc(45vw / 16 * 9 + 20px);
    padding: 20px 0;
  }
  
  .FlightSimulator .infoWrapper .imageWrapper {
    transition-delay: 300ms;
  }

  :is(.KWYG, .FlightSimulator) .infoWrapper div {
    max-width: 45vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}