.elementWrapper {
  background-color: var(--color-bg-selected);
  border-radius: 5px;
  padding: 10px;
}

.elementWrapper table tr td:first-of-type {
  width: 100%;
}

.elementWrapper td:not(:first-of-type) {
  text-align: center;
}

.previewWrapper {
  background-color: var(--color-bg-off);
  border-radius: 5px;
  padding: 10px;
}

.info {
  border-top: solid 2px var(--color-text-off);
  margin-top: 5px;
  padding: 5px 2px 0 2px;
}

.info textarea {
  width: 100%;
  min-width: 100px;
  max-width: 100%;
  margin-top: 17px;
  background-color: var(--color-bg-primary);
}

.smallSeparator {
  border-top: solid 2px var(--color-text-off);
  margin-top: 17px;
  padding: 0px 2px 0 2px;
}

.separator {
  border-top: solid 4px var(--color-text-off);
  margin-top: 17px;
  padding: 0px 2px 0 2px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin: 17px 0 5px 0;
}

.heading h2 {
  margin: 0;
}

.addTeamButton {
  padding-top: 17px;
}

.setTable {
  padding-top: 17px;
  white-space: nowrap;
}

.setTable.setTable tr td:first-of-type {
  /* width: fit-content; */
  white-space: nowrap;
  padding-right: 5px;
}

.setTable input {
  border: none;
  width: 48px;
  text-align: right;
  background-color: var(--color-bg-primary);
}

.setTable input:focus {
  outline: none;
}

.addSetButton {
  padding-top: 17px;
}

.description {
  margin-top: 17px;
}

.submitButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}

/* media query for non touch display */
@media (hover: hover) {
  .setTable input {
    width: 75px;
  }
}