.box {
  padding: 0 20px;
}

.box p {
  color: #AAAAAA;
}

.adsimple {
  color: var(--color-text-primary);
}

.adsimpleImage {
  max-width: 900px;
  /* invert image color */
  filter: invert();
}

body[data-theme="light"] .adsimpleImage {
  /* do not invert color */
  filter: none;
}