html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  width: 100vw;
  transition: background 2.5s ease-in-out;
}

body {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #00C0FF;
  --color-text-off: #BBBBBB;
  --color-text-inverted: #000000;
  --color-text-warning: #ff2222;
  --color-bg-primary: #151515;
  --color-bg-secondary: #00C0FF;
  --color-bg-hover: #2A2A2A;
  --color-bg-selected: #3A3A3A;
  --color-bg-inverted: #FFFFFF;
  --color-border-primary: #CACACA;
  --color-border-hover: #FFFFFF;
}

body[data-theme="light"] {
  --color-text-primary: #000000;
  --color-text-secondary: #00C0FF;
  --color-text-off: #555555;
  --color-text-inverted: #FFFFFF;
  --color-text-warning: #ff0000;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #00C0FF;
  --color-bg-hover: #EAEAEA;
  --color-bg-selected: #DADADA;
  --color-bg-inverted: #151515;
  --color-border-primary: #151515;
  --color-border-hover: #000000;
}

/* width */
::-webkit-scrollbar {
  height: 10pt;
  width: 10pt;
  border: solid 5px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: solid 5px transparent;
  box-shadow: inset 0 0 10px 10px #404040;
}

main {
  min-height: calc(100vh - 40pt);
}

.scrollBody {
  height: calc(100vh - 40pt);
  overflow-y: overlay;
  overflow-x: auto;
}

a, .link {
  color: #00C0FF;
  text-decoration: underline;
  width: fit-content;
}

a:hover, .link:hover {
  color: #0077ff;
  transition: 0.3s;
  cursor: pointer;
}

h1 {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-size: 14pt;
  width: 100%;
  background-color: transparent;
  color: var(--color-text-primary);
  padding: 5pt 10pt;
  border: solid;
  border-color: var(--color-border-primary);
  border-width: 2pt;
  border-radius: 2pt;
}

button:hover {
  background-color: var(--color-bg-hover);
  border-color: var(--color-border-hover);
  cursor: pointer;
  transition: 0.3s;
}

button:not(:hover) {
  transition: 0.3s;
}

input {
  font-size: 14pt;
  width: 100%;
  background-color: transparent;
  color: var(--color-text-primary);
  padding: 5pt 10pt;
  border: solid;
  border-color: var(--color-border-primary);
  border-width: 2pt;
  border-radius: 2pt;
}

:not(ul.contains-task-list) ul.contains-task-list {
  list-style-type: none;
  transform: translateX(-2em);
}

ul.contains-task-list > li > ul.contains-task-list {
  transform: translateX(0);
}

.invisible {
  display: none;
}

body[data-theme="light"] .whiteImage {
  filter: invert();
}