html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #151515;
}

a {
  color: #00C0FF;
  text-decoration: underline;
}

a:hover {
  color: #0077ff;
  transition: 0.3s;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 14pt;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 5pt 10pt;
  border: solid;
  border-color: #2A2A2A;
  border-width: 2pt;
  border-radius: 2pt;
}

button:hover {
  background-color: #2A2A2A;
  color: #00C0FF;
  cursor: pointer;
  transition: 0.3s;
}

input {
  font-size: 14pt;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 5pt 10pt;
  border: solid;
  border-color: #2A2A2A;
  border-width: 2pt;
  border-radius: 2pt;
}
