html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #151515;
}

::-webkit-scrollbar {
  width: 8pt;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #202020;
}

main {
  min-height: calc(100vh - 40pt);
}

a, .link {
  color: #00C0FF;
  text-decoration: underline;
}

a:hover, .link:hover {
  color: #0077ff;
  transition: 0.3s;
  cursor: pointer;
}

h1 {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 14pt;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 5pt 10pt;
  border: solid;
  border-color: #2A2A2A;
  border-width: 2pt;
  border-radius: 2pt;
}

button:hover {
  background-color: #2A2A2A;
  color: #00C0FF;
  cursor: pointer;
  transition: 0.3s;
}

input {
  font-size: 14pt;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 5pt 10pt;
  border: solid;
  border-color: #2A2A2A;
  border-width: 2pt;
  border-radius: 2pt;
}
