.content {
  padding: 0 20px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 15px;
}

.dhbw {
  display: flex;
  position: absolute;
  top: 65px;
  right: 20px;
  width: 110px;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid;
}

.icon {
  padding: 15px;
}

body[data-theme="light"] .icon * {
  filter: brightness(0%);
}

.elementHeader {
  padding: 0 15px 0 0;
  font-size: 15px;
  margin: 0;
  word-break: break-all;
}

@media only screen and (min-width: 400px) {
  .elementHeader {
    font-size: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .elementHeader {
    font-size: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}