.content {
  position: relative;
}

.tableScroll {
  overflow-x: overlay;
  margin-top: 0;
  margin-bottom: 16px;
}

.pdf {
  height: 70vh;
}

.noPdf {
  height: fit-content;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content {
    padding: 5vh 10vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}